<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ff, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="Stylesheets/login.css">
</head>
<body>
    <div class="background-image">
        <div class="from-box" >
            <h2>Login Here</h2>
            <form action="/login"  method="post" class="validated-form" novalidate>

                <div class="input-group">
                <label for="username">Username</label>
                <input id="username" name="username" required type="text">
                </div>

                <div class="input-group">
                    <label  for="password">Password</label>
                    <input  type="password" id="password" name="password" required>
                </div>

                <button>Submit</button>
            </form>
        </div>

    </div>    
</body>
</html>